[data-aos="ps-mask-in"] {
  position: relative;
  overflow: hidden;
  display: block;


  &::after {
    content: "";
    position: absolute;
    z-index: 5;
    bottom: 50%;
    left: -3%;
    width: 106%;
    height: 180%;
    right: 0;
    background-color: #fafafa;
    transform: skewY(-25deg) translate3d(0, 50%, 0);
    backface-visibility: hidden;
  }


  &.aos-animate {
    &[data-aos-delay="200"] {
      &::after {
        transition-delay: 200ms;
      }
    }

    &[data-aos-delay="400"] {
      &::after {
        transition-delay: 400ms;
      }
    }

    &[data-aos-delay="600"] {
      &::after {
        transition-delay: 600ms;
      }
    }

    &::after {
      transition: transform 1s cubic-bezier(.165, .84, .44, 1) .4s;
      transform: skewY(-20deg) translate3d(0, -50%, 0);
    }
  }
}

[data-aos="ps-fade-in"] {

  &.swiper-related {
    .swiper-slide {
      .ps-prd-item {
        opacity: 0;
        transform: translateX(120px);
      }
    }
  }

  &.aos-animate:not(.hidden) {
    &.swiper-related {
      .swiper-slide {
        .ps-prd-item {
          transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) $duration;
          opacity: 1 !important;
          transform: translateX(0) !important;
        }
      }
    }
  }
}

[data-aos="ps-paint-in"] {
  display: block;
  position: relative;
  overflow: hidden;

  .img-wrap {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &.aos-animate {

    .img-wrap {
      -webkit-mask: url('../images/urban-sprite.png');
      mask: url('../images/urban-sprite.png');
      -webkit-mask-size: 3000% 100%;
      mask-size: 3000% 100%;
      -webkit-animation: paint-play 1.4s steps(29) forwards;
      animation: paint-play 1.4s steps(29) forwards;
    }

  }
}



[data-aos="ps-fade-in"] {
  .ps-col {
    .ps-prd-item {
      opacity: 0;
      transform: translateY(80px);
    }
  }

  &.aos-animate {
    .ps-col {
      @for $i from 0 through 16 {
        &:nth-child(#{$i + 1}) {
          .ps-prd-item {
            transition-delay: $i * 50ms;
          }
        }
      }

      .ps-prd-item {
        transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) $duration;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}


@-webkit-keyframes paint-play {
  from {
    -webkit-mask-position: 0% 0;
    mask-position: 0% 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes paint-play {
  from {
    -webkit-mask-position: 0% 0;
    mask-position: 0% 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}


@keyframes key-visual-zoom {
  0% {
    background-size: 100% auto;
  }

  100% {
    background-size: 110% auto;
  }
}