// Prospecs PC styles
$duration-short : 0.3s;
$duration : 0.6s;

$z-gnb: 1000;
$z-dim: 1100;

@mixin input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.color1 {
  color: #d13b40 !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.scroll-lock {
  overflow-y: hidden;

  .ps-header {
    &.down {
      transform: translateY(0);
    }
  }
}

/* title */
.ps-subtitle {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 24px;
  &.mb-0 {
    margin-bottom: 0;
  }
}

.ps-title {
  &-type1 {
    font-size: 16px;
    line-height: 20px;
  }
  &-type2 {
    font-size: 14px;
    line-height: 20px;
  }
}

/* button */
.ps-btn {
  > span {
    position: relative;
    display: block;
  }
  &.icon {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
  }
  &:focus {
    outline: 0;
    bottom: 0;
  }
  &-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    &.list-more {
      margin-top: 50px;
    }
  }
  &.type1 {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
    border: 1px solid #222;
  }
  &.type2 {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    background: #222;
  }
  &.type3 {
    flex: none;
    display: inline-block;
    vertical-align: top;
    width: 140px;
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    border: 1px solid #222;
  }
  &.type4 {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 52px;
    border: 1px solid #222;
  }
  &.type5 {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #fff;
    line-height: 54px;
    background: #222;
  }
  &.type6 {
    display: block;
    padding: 5px 10px;
    border: 1px solid #999;
    > span {
      padding-right: 18px;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      color: #999;
      background: url(../images/icon_down_coupon.svg) no-repeat right center;
    }
  }
  &.type7 {
    display: block;
    width: 100%;
    height: 70px;
    padding: 20px;
    background: #222;
    > span {
      font-weight: 700;
      color: #fff;
      text-align: center;
    }
  }
  &.naver {
    display: inline-block;
    width: 120px;
    padding: 13px 0;
    text-align: center;
    background: #23c300;
    > span {
      display: inline-block;
      padding-left: 32px;
      line-height: 24px;
      color: #fff;
      font-size: 14px;
      background: url(../images/logo_naver.svg) no-repeat left center;
    }
  }

  &.close {
    display: inline-block;
    width: 24px;
    height: 24px;
    overflow: hidden;
    text-indent: -999px;
    background: url(../images/icon_close_small.svg) no-repeat center center;
  }
  &.share {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: -999px;
    background: url(../images/icon_share.svg) no-repeat;
    &.white {
      width: 24px;
      height: 24px;
      background: url(../images/icon_share_white.svg) no-repeat center center;
    }
  }
  &.reset {
    width: 24px;
    height: 24px;
    background: url(../images/icon_reset_white.svg) no-repeat center center / 18px auto;
  }
  &.wishlist {
    width: 24px;
    height: 24px;
    background: url(../images/icon_wishlist.svg) no-repeat center center / 18px auto;
  }
  &.blog {
    width: 34px;
    height: 34px;
    background: url(../images/icon_blog.svg) no-repeat center center;
  }
  &.kakao {
    width: 34px;
    height: 34px;
    background: url(../images/icon_kakao.svg) no-repeat center center;
  }
  &.kakaostory {
    width: 34px;
    height: 34px;
    background: url(../images/icon_kakaostory.svg) no-repeat center center;
  }
  &.facebook {
    width: 34px;
    height: 34px;
    background: url(../images/icon_facebook_share.svg) no-repeat center center;
  }
  &.twitter {
    width: 34px;
    height: 34px;
    background: url(../images/icon_twitter.svg) no-repeat center center;
  }

  &.view-text {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    color: #999;    
    border-bottom: 1px solid #999;
  }

  &.minus {
    position: relative;
    width: 34px;
    height: 34px;
    border: 1px solid #ccc;
    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 11px;
      width: 10px;
      border-bottom: 2px solid #222;
    }
  }

  &.plus {
    position: relative;
    width: 34px;
    height: 34px;
    border: 1px solid #ccc;
    &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 11px;
      width: 10px;
      border-bottom: 2px solid #222;
    }
    &::after {
      content: '';
      position: absolute;
      top: 11px;
      left: 15px;
      height: 10px;
      border-left: 2px solid #222;
    }
  }
}
/* button */

/* select */
.ps-select {
  display: block;
  width: 100%;
  height: 48px;
  padding: 0 34px 0 14px;
  font-size: 16px;
  color: #999;
  border: 1px solid #ccc;
  border-radius: 0;
  background: url(../images/icon_select_down.svg) no-repeat right 14px center;
  appearance:none;
  &.t-type {
    width: auto;
    max-width: 100%;
    height: 25px;
    padding: 0 25px 0 0;
    font-weight: 700;
    font-size: 18px;
    color: #222;
    border: none;
    background: url(../images/icon_arrow_down.svg) no-repeat right center;
  }

  &.small {
    height: 36px;
    font-size: 14px;
  }
}
/* select */

/* checkbox */
.ps-chkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  > label {
      position: relative;
      display: block;
      cursor: pointer;
      > input {
        @include input;
        &[type="checkbox"] {
          + .text {
              position: relative;
              display: inline-block;
              padding-left: 30px;
              font-size: 16px;
              color: #222;
              line-height: 20px;
              &::before {
                  content: '';
                  position: absolute;
                  top: 0px;
                  left: 0;
                  width: 20px;
                  height: 20px;
                  border: 1px solid #ccc;
              }
          }
          &:not(.etc-color):checked {
              + .text {
                  &::before {
                      background-color: #222;
                      background-image: url(../images/icon_chkbox.svg);
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: 11px auto;
                      border: none;
                  }
              }
          }
          &.etc-color {
            + .text {
              &::before {
                border: none;
              }
            }
            &:checked {
              + .text {
                &::before {
                  background-image: url(../images/icon_chkbox.svg);
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: 11px auto;
                }
              }
            }
          }
        }
        &[type="radio"] {
          + .text {
            position: relative;
            display: inline-block;
            font-size: 16px;
            padding-left: 28px;
            color: #222;
            line-height: 20px;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 20px;
              height: 20px;
              border: 1px solid #ccc;
              border-radius: 50%;
            }
          }
          &:checked {
            + .text {
              &::before {
                border: 6px solid #222;
              }
            }
          }
        }
        &.b_chk {
          &:checked {
            + .text {
              &::before {
                background-image: url(../images/icon_chkbox_black.svg) !important;
              }
            }
          }
        }
        &.white {
          + .text {
            &::before {
              border: 1px solid #ccc !important;
              background-color: #fff !important;
              
            }
          }
          &:checked {
            + .text {
              &::before {
                background-color: #fff;
              }
            }
          }
        }
        &.orange {
          + .text {
            &::before {
              background-color: #ff7510;
            }
          }
        }
        &.beige {
          + .text {
            &::before {
              background-color: #f5e9c9;
            }
          }
        }
        &.pink {
          + .text {
            &::before {
              background-color: #f46a7a;
            }
          }
        }
        &.red {
          + .text {
            &::before {
              background-color: #e13310;
            }
          }
        }
        &.brown {
          + .text {
            &::before {
              background-color: #956243;
            }
          }
        }
        &.gray {
          + .text {
            &::before {
              background-color: #dedede;
            }
          }
        }
        &.purple {
          + .text {
            &::before {
              background-color: #944bc3;
            }
          }
        }
        &.green {
          + .text {
            &::before {
              background-color: #79cba5;
            }
          }
        }
        &.blue {
          + .text {
            &::before {
              background-color: #5b7ae2;
            }
          }
        }
        &.navy {
          + .text {
            &::before {
              background-color: #353f8b;
            }
          }
        }
        &.black {
          + .text {
            &::before {
              background-color: #000;
            }
          }
        }
      }
  }
  + .ps-chkbox {
      margin-left: 30px;
  }

  &.rnd {
    > label {
      font-size: 0;
      > input {
        &[type="checkbox"] {
          + .text {
            padding: 0;
            width: 32px;
            height: 32px;
            overflow: hidden;
            text-indent: -999px;
            &::before {
              width: 32px;
              height: 32px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
/* checkbox */

.ps-color-select {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: calc(100% + 40px);
  margin-left: -20px;

  li {
    width: calc(1/5*100% - (1 - 1/5)*10px);
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
    &:nth-child(-n + 5) {
      margin-top: 0;
    }
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
  &::after {
    content: '';
    flex: auto;
  }
}

/* input */
.ps-input {
  position: relative;
  overflow: hidden;
  > .inp {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    transition: 0.3s;
    &.on,
    &:focus {
      outline: none;
      border-bottom: 1px solid #ccc;
    }
    &.error,
    &.error:focus {
        border-bottom: 1px solid #ccc;
    }
    &[readonly],
    &:disabled {
      color: #999;
      background: #f8f8f8;
    }
  }
}
/* input */

/* list */
.ps-list {
  &.type1 {
    > li {
      position: relative;
      padding-left: 14px;
      font-size: 14px;
      line-height: 20px;
      &::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        width: 4px;
        border-bottom: 4px solid #222;
      }
      + li {
        margin-top: 8px;
      }

      > .ps-list.type2 {
        margin-top: 8px;
      }

      &.ty1 {
        color: #999;
        &::before {
          border-bottom: 4px solid #999;
        }
      }
    }
  }

  &.type2 {
    > li {
      position: relative;
      padding-left: 10px;
      font-size: 14px;
      line-height: 20px;
      &::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 5px;
        border-bottom: 1px solid #222;
      }
      + li {
        margin-top: 8px;
      }

      &.ty1 {
        color: #999;
        &::before {
          border-bottom: 1px solid #999;
        }
      }
    }
  }

  &.type3 {
    li {
      + li {
        margin-top: 16px;
      }
    }
  }

  &.type4 {
    display: flex;
    flex-flow: row wrap;
    li {
      width: 50%;
      margin-top: 16px;
      &:nth-child(-n + 2) {
        margin-top: 0;
      }
    }
  }

  &.type5 {
    > li {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      + li {
        margin-top: 6px;
      }

      .cont {
       text-align: right;
      }

      .desc {
        font-size: 12px;
        color: #999;
      }
    }
  }
}
/* list */

.ps-i-cont {

  &.type1 {
    > dt {
      padding-bottom: 10px;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      border-bottom: 2px solid #222;
    }
    > dd {
      padding-top: 20px;
      text-align: left;
      + dd {
        padding-top: 10px;
      }
    }
  }
  

  &.white {
    > dt {
      color: #fff;
      border-bottom: 4px solid #fff;
    }
  }

  &.type2 {
    margin-top: 20px;
    dt {
      padding-bottom: 14px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }
    dd {

    }

    & + & {
      padding-top: 20px;
      border-top: 1px solid #eee;
    }
  }
}

/* table */
.ps-table {
  position: relative;
  > table {
    width: 100%;
  }

  &.free {
    table {
      table-layout: inherit;
    }
  }

  &.type1 {
    padding-bottom: 6px;
    overflow-x: auto;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #eee;
      pointer-events: none;
    }
    table {
      position: relative;
      font-size: 11px;
      > thead {
        > tr {
          > th {
            height: 34px;
            padding: 5px;
            font-weight: 500;
            background: #f7f7f7;
            white-space: nowrap;
          }
        }
      }
      > tbody {
        > tr {
          > td {
            position: relative;
            height: 30px;
            padding: 5px;
            line-height: 16px;
            white-space: nowrap;
            border-bottom: 1px solid #eee;
            &:first-child {
              &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 20%;
                border-bottom: 1px solid #fff;
              }
            }
            &:last-child {
              &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: -1px;
                width: 20%;
                border-bottom: 1px solid #fff;
              }
            }
          }
          &:last-child {
            td {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }

  &.type2 {
    table {
      font-size: 12px;
      > tbody {
        > tr {
          > th {
            height: 28px;
            padding: 5px 10px 5px 0;
            vertical-align: top;
            font-weight: 400;
            text-align: left;
            line-height: 16px;
          }
          > td {
            height: 28px;
            padding: 5px 0;
            vertical-align: top;
            color: #999;
            line-height: 16px;
          }
        }
      }
    }
  }
}
/* table */

/* badge */
.ps-badge {
  > .badge {
    display: inline-block;
    vertical-align: top;
    min-width: 54px;
    padding: 0 5px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    &.type1 {
      background: #d13b40;
    }
    &.type2 {
      background: #222;
    }
  }
}
/* badge */


