/* 모바일 수평 스크롤 금지 */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

#psWrap.ps-wrap {
  background: white;
  &:not(.sub) {
    .footer-quick-menu {
      margin-top: 0;
    }
  }

  &.sub-main {
    padding-top: 56px;
  }
  &.sub {
    padding-top: 88px;
  }
}

.ps-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  background-color: #fff;
  color: #222;
  z-index: $z-gnb;
  transition: $duration-short;

  &.down {
    transform: translateY(-56px);
  }

  &.top {
    transform: translateY(0);
  }


  &--logo {
    >a {
      display: block;
      width: 67.23px;
      height: 24px;
      background: url('../images/logo.svg') no-repeat;
      overflow: hidden;
      text-indent: -9999px;
      transition: 0.3s;
    }
  }

  &--util {
    overflow: hidden;
    margin-right: -4px;

    .ps-btn {
      width: 32px;
      height: 32px;
      background-color: gray;
      float: left;
      text-indent: -9999px;
      background: url('../images/icon_search.svg') center no-repeat;

      &+.ps-btn {
        margin-left: 6px;
      }

      &.ps-icon {
        &--search {
          background-image: url('../images/icon_search.svg');
        }

        &--cart {
          background-image: url('../images/icon_cart.svg');
        }

        &--menu {
          background-image: url('../images/icon_menu.svg');
        }

        &--close {
          background-image: url('../images/icon_close.svg');
        }
      }
    }
  }

}

.ps-gnb-sub {
  &__wrap {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 56px);
    z-index: $z-gnb+2;
    transform: translateX(100%);
    opacity: 0;
    transition: $duration-short;
    background-color: #fff;
    overflow: hidden;

    &.on {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__header {
    .ps-btn--back {
      padding-left: 40px;
      background: url('../images/icon_arrow_L.svg') left center no-repeat;
    }
  }

  &__body {
    font-size: 20px;
  }

  &__link {
    font-size: 16px;
    background-color: #F7F7F7;
    padding: 12px 0;

    a {
      display: block;
      padding: 8px 20px;
    }
  }

  &__footer {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 8px;
      background-color: #222;
    }

    >h3 {
      font-size: 16px;
    }

    .item.swiper-slide {
      width: 144px;
    }
  }
}

.ps-gnb {
  &__wrap {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 56px);
    z-index: $z-gnb+1;
    transform: translateX(100%);
    opacity: 0;
    transition: $duration-short;
    border-top: 3px solid #222;
    background-color: #fff;
    overflow: hidden;

    &.on {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }

    .ps-btn--gnb {
      display: block;
      width: 100%;
      text-align: left;
      padding: 10px 20px;

      
      & +.ps-btn--gnb {
        margin-top: 8px;
      }
    }
    .ps-gnb-sub__wrap + .ps-btn--gnb {
      margin-top: 8px;
    }


    .quick-menu-banner {
      margin-top: 16px;
      &--item {
        position: relative;
        display: block;
        & + .quick-menu-banner--item {
          margin-top: 20px;
        }
        > img {
          width: 100%;
        }
        .desc {
          position: absolute;
          left: 14px;
          bottom: 14px;
          color: #fff;
          .title {
            font-size: 14px;
            line-height: 19px;
          }
          .date {
            font-size: 12px;
          }
        }
      }
    }


  }


  &__nav {
    .gnb-main {
      font-size: 20px;

      &>li+li {
        margin-top: 8px;
      }

      // &>a {
      //   display: block;
      //   padding: 10px 20px;

      //   .noti {
      //     position: relative;

      //     &::after {
      //       content: '';
      //       display: block;
      //       position: absolute;
      //       top: 2px;
      //       right: -12px;
      //       width: 6px;
      //       height: 6px;
      //       background-color: #E13310;
      //     }
      //   }

      //   &+a {
      //     margin-top: 8px;
      //   }
      // }
    }
  }

  &__footer {

    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 8px;
      background-color: #222;
    }


    .gnb-footer-menu {
      font-size: 16px;

      li {
        a {
          display: inline-block;
          padding: 2px 0;
        }

        &+li {
          margin-top: 10px;
        }
      }
    }

    .gnb-footer-user {
      font-size: 18px;
    }
  }
}

.footer-quick-menu {
  margin-top: 50px;
  .quick-menu {
    &__wrap {
      flex-direction: row;
      background-color: #222;
      border-bottom: 1px solid #444;
    }

    &__item {
      position: relative;
      flex: 1 1 0%;
      a {
        display: block;
        font-size: 14px;
        color: #fff;
        text-align: center;
        padding: 13px 0 15px;
      }
      & + .quick-menu__item {
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          height: 18px;
          border-left: 1px solid #444;
          transform: translateY(-50%);
        }        
      }
    }
  }
}

.ps-footer {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  color: #fff;
  background-color: #222;

  .policy {
    text-decoration: underline;
  }

  &__info {
    line-height: 20px;
  }

  &__copy {
    padding-top: 30px;
    color: #999;
    dt {
      padding-bottom: 8px;
    }
    dd {
      + dd {
        padding-top: 8px;
      }
    }
  }

  .copyright {
    padding-top: 12px;
  }
}

.ps-inner {
  padding: 0 20px;
}

.ps-breadcrumb {
  font-size: 16px;
  height: 50px;

  li {
    a {
      display: inline-block;
      height: 24px;
      padding: 0 24px 0 0;
      border: none;
      background: #fff url('../images/icon_arrow_R_sm.svg') no-repeat right 3px;
      color: #999;
    }

    &+li {
      margin-left: 8px;
    }

    &:last-child {
      a {
        padding: 0 20px 0 0;
        background: #fff url('../images/icon_arrow_down.svg') no-repeat right center;
        color: #222;
      }
    }
  }
}

.ps-prd-list {
  &--util {
    border-top: 3px solid #222;
    border-bottom: 1px solid #eee;

    &-item {
      > .ps-btn {
        position: relative;
        width: 100%;
        height: 50px;
        text-align: left;
        padding: 0 40px 0 20px;
  
        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 18px;
          height: 18px;
          right: 19px;
          top: 15px;
          background: #fff url('../images/icon_filter.svg') no-repeat;
        }
  
        &.ps-list-filter::after {
          background: #fff url('../images/icon_filter.svg') no-repeat;
        }
  
        &.ps-list-sort {
          border-left: 1px solid #eee;
  
          &::after {
            background: #fff url('../images/icon_down.svg') no-repeat;
          }
        }
      }
    }
  }

  /* &--wrap {
    padding-bottom: 50px;
  } */
}

/* 상품 썸네일 */
.ps-prd-item {
  display: block;
  width: auto;
  margin-bottom: 16px;
  user-select: none;

  &.rank-item {
    margin-bottom: 32px;

    .desc {
      padding-top: 12px;

      .name {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 7px;
      }

    }
  }

  .thumbs {
    position: relative;

    &.ratio1 {
      padding-top: 100%;

      &>img {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    &>img {
      width: 100%;
      max-width: none;
      height: auto;
    }

    .badge {
      position: absolute;
      left: 0;
      bottom: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;

      .sex {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        color: #fff;
        overflow: hidden;
        float: left;

        >span {
          display: block;
          float: left;
          width: 18px;
          height: 18px;
          line-height: 18px;
          font-size: 11px;
          text-align: center;
          background-color: #222;

          &.male {
            background-color: #222;
          }

          &.female {
            background-color: #D13B40;
          }
        }
      }

      .rank {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        overflow: hidden;
        float: left;
        background-color: #222;
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        background-color: #222;
      }
    }

    .rank {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      font-size: 12px;
      line-height: 24px;
      color: #fff;
      text-align: center;
      background: #222;
    }
  }

  .desc {
    padding-top: 13px;

    .cate {
      font-size: 12px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 4px;
    }

    .name {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 16px;
    }

    .price {
      .base-price {
        color: #BABABA;
        font-weight: 500;
        font-size: 14px;
        text-decoration: line-through;
        line-height: 1;
      }

      .amount {
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
        margin-top: 6px;
        .per {
          display: inline-block;
          color: #E13310;
          vertical-align: top;
          margin-top: -3px;
        }
      }
    }

    .badge {
      padding-top: 10px;
      font-size: 0;
      &>span {
        display: inline-block;
        vertical-align: top;
        font-size: 11px;
        line-height: 14px;
        padding: 0 5px;
        border: 2px solid #222;
      }
      .sex {
        display: inline-block;
        margin-right: 4px;
        padding: 0;
        /* float: left; */
        color: #fff;
        overflow: hidden;
        border: none;

        >span {
          display: block;
          float: left;
          width: 18px;
          height: 18px;
          line-height: 18px;
          font-size: 11px;
          text-align: center;
          background-color: #222;

          &.male {
            background-color: #222;
          }

          &.female {
            background-color: #D13B40;
          }
        }
      }
    }

    &.s-items {
      padding-top: 12px;
      .name {
        margin-bottom: 6px;
      }
    }
  }

  &.vertical {
    font-size: 0;
    .thumbs {
      display: inline-block;
      vertical-align: middle;
      width: 100px;
    }
    .desc {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 100px);
      padding: 0 0 0 20px;
      .name {
        margin-bottom: 0;
        @include ellipsis;
      }
      .price {
        .amount {
          margin: 2px 0 0 0;
        }
      }
    }
  }

}

.color-sort {
  &-wrap {
    margin-bottom: 22px;
    font-size: 0;
  }
  &--btn {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    > span {
      display: block;
      height: 20px;
      overflow: hidden;
      text-indent: -999px;
    }
    & + & {
      margin-left: 10px;
    }
  }
  &--all {
    background: rgb(225,51,16);
    background: linear-gradient(135deg, rgba(225,51,16,1) 0%, rgba(244,204,34,1) 30%, rgba(125,199,25,1) 50%, rgba(58,157,219,1) 70%, rgba(123,54,204,1) 100%);
  }
  &--ty1 {
    background: #e13310;
  }
  &--ty2 {
    background: #f07811;
  }
  &--ty3 {
    background: #ffe414;
  }
  &--ty4 {
    background: #1ab5e3;
  }
  &--ty5 {
    background: #1a50e3;
  }
  &--ty6 {
    background: #6f1ae3;
  }
  &--ty7 {
    background: #222;
  }
  &--ty8 {
    background: #fff;
    > span {
      border: 1px solid #ccc;
    }
  }
}

.ps-detail {
  &-header {
    margin-bottom: 32px;
    padding: 0 0 14px 0;
    border-bottom: 3px solid #222;
    &--inner {
      display: flex;
      align-items: center;
      .front {
        flex-grow: 1;        
      }
    }
    .ps-share {
      flex: none;
      margin-left: 20px;
    }
  }
  &-desc {
    padding-top: 2px;
    font-size: 14px;
    color: #999;
  }
  &-content {
    padding-bottom: 30px;
    font-size: 13px;
    border-bottom: 1px solid #eee;
    .thumbs {
      img {
        width: 100%;
      }
    }
  }
}

.ps-sub-content {
  position: relative;
  padding-top: 28px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    border-bottom: 8px solid #222;
  }
  & + & {
    margin-top: 50px;
  }
  .ps-prd-item {
    margin-bottom: 0;
  }
}

/* 공유하기 */
.ps-share {
  position: relative;
  z-index: 5;
  &-box {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
  }
  &-item {
    display: flex;
    align-items: center;
    padding: 7px 17px;
    border: 1px solid #222;
    background: #fff;
    > a {
      + a {
        margin-left: 6px;
      }
    }
  }
  .ps-btn.share {
    &:focus {
      + .ps-share-box {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
/* 공유하기 */

/* 토스트 팝업 */
.ps-toast-msg {
  position: fixed;
  z-index: 10;
  left: 50%;
  bottom: 0;
  padding: 20px 40px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  white-space: nowrap;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, bottom 0.5s;  
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.6);

  &.on {
    bottom: 80px;
    opacity: 1;
    visibility: visible;
  }
}
/* 토스트 팝업 */

/* 이메일 */
.ps-email {
  > .top {
    .m {
      padding: 0 6px;
      font-size: 16px;
    }
  }
  .ps-select {
    margin-top: 10px;
  }
}
/* 이메일 */

/* 분할 */
.ps-nth {
  * {
    width: 100%;
    overflow: hidden;
  }
  > * + * {
    margin-left: 10px;
  }
}
/* 분할 */

/* 컨텐츠 헤드 */
.ps-cont-head {
  > .title {
    padding-bottom: 10px;
    font-size: 16px;
    border-bottom: 2px solid #222;
  }
}
/* 컨텐츠 헤드 */







/* layer popup */
.ps-bottom {
  &-layer-btn {
    display: inline-block;
    padding: 0 24px 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background: url(../images/icon_arrow_down_small.svg) no-repeat right center;
  }
  &-layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    background: rgba(34, 34, 34, 0.8);
    &.active {
      opacity: 1;
      visibility: visible;
      .ps-bottom-layer-content {
        bottom: 0;
      }
    }

    &-content {
      position: absolute;
      left: 0;
      bottom: -100%;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: calc(100vh - 56px);
      padding: 20px 0 0 0;
      border-top: 3px solid #222;
      background: #fff;
      transition: $duration-short;
      &::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 50%;
        width: 56px;
        border-bottom: 4px solid #eee;
        transform: translateX(-50%);
      }
      > .inner {
        position: relative;
        flex-grow: 1;
        overflow: auto;
      }
      > .ps-btn.close {
        position: absolute;
        top: 36px;
        right: 20px;
      }

      &.buy-option {
        padding-top: 0;
        &::before {
          content: none;
        }
      }
    }

    &--header {
      flex: none;
      display: flex;
      height: 56px;
      align-items: center;
      padding: 0 20px;
      > h4 {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &--footer {
      display: flex;
      align-items: center;
      background: #222;
      > .units {
        position: relative;
        flex: none;
        padding: 0 24px;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          height: 20px;
          border-right: 1px solid rgba(238, 238, 238, 0.2);
          transform: translateY(-50%);
        }
      }
      &-btn {
        font-size: 18px;
        color: #fff;
      }
    }

    .ps-option-list {
      padding: 8px 20px 16px 20px;
      > a {
        display: block;
        padding: 15px 0;
        font-size: 16px;
        line-height: 20px;
        color: #999;
        &.selected {
          font-weight: 700;
          color: #222;
        }
      }
    }
  }
}

.ps-filter-opt {
  padding: 20px;

  &--cont {
    > .title {
      padding-bottom: 20px;
      font-size: 18px;
      line-height: 22px;
    }
    & + & {
      margin-top: 30px;
      border-top: 1px solid #eee;
      padding-top: 30px;
    }
  }
}
/* layer popup */