@charset "UTF-8";
@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal; }

:root {
  --swiper-theme-color: #222; }

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-vertical > .swiper-wrapper {
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box; }

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0); }

.swiper-pointer-events {
  touch-action: pan-y; }

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x; }

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform; }

.swiper-slide-invisible-blank {
  visibility: hidden; }

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto; }

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height; }

/* 3D Effects */
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px; }

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d; }

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15); }

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */ }

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none; }

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start; }

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory; }

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory; }

.swiper-centered > .swiper-wrapper::before {
  content: '';
  flex-shrink: 0;
  order: 9999; }

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before); }

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after); }

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before); }

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after); }

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center; }

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none; }

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size); }

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size); }

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */ }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color)); }

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1; }

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto; }

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev'; }

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto; }

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: 'next'; }

.swiper-button-lock {
  display: none; }

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */ }

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
  left: 0;
  width: 100%; }

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33); }

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2); }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet:only-child {
  display: none !important; }

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color)); }

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0); }

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block; }

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px; }

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top; }

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px); }

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; }

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left; }

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right; }

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(238, 238, 238, 0.5);
  position: absolute;
  height: .25rem; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top; }

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top; }

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: .25rem;
  left: 0;
  bottom: 0; }

.swiper-vertical > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-lock {
  display: none; }

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-scrollbar-lock {
  display: none; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

.swiper-slide-zoomed {
  cursor: move; }

/* Preloader */
:root {
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  */ }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  animation: swiper-preloader-spin 1s infinite linear;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent; }

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff; }

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000; }

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg); } }

/* a11y */
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap; }

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column; }

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out; }

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity; }

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-cube {
  overflow: visible; }

.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0; }

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-prev,
.swiper-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-cube .swiper-slide-shadow-top,
.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0; }

.swiper-cube .swiper-cube-shadow:before {
  content: '';
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px); }

.swiper-flip {
  overflow: visible; }

.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-flip .swiper-slide-shadow-top,
.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height; }

.swiper-cards {
  overflow: visible; }

.swiper-cards .swiper-slide {
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden; }

.ps-swipe-wrap {
  position: relative; }

.line-clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll-lock {
  overflow-y: hidden; }
  .scroll-lock .ps-header.down {
    transform: translateY(0); }

.ps-btn:focus {
  outline: 0;
  bottom: 0; }

.ps-select--wrap {
  position: relative; }
  .ps-select--wrap select {
    width: 100%;
    height: 40px;
    line-height: 42px;
    padding: 0 18px;
    padding-right: 40px;
    border: 1px solid #c4c4c4;
    font-size: 14px;
    color: #7d7d7d; }

.ps-breadcrumb {
  font-size: 16px;
  height: 3.125rem; }
  .ps-breadcrumb li a {
    display: inline-block;
    height: 1.5rem;
    padding: 0 24px 0 0;
    border: none;
    background: #fff url("../images/icon_arrow_R_sm.svg") no-repeat right 3px;
    color: #999; }
  .ps-breadcrumb li + li {
    margin-left: .5rem; }
  .ps-breadcrumb li:last-child a {
    padding: 0 20px 0 0;
    background: #fff url("../images/icon_arrow_down.svg") no-repeat right center;
    color: #222; }

.ps-prd-list--util {
  border-top: 3px solid #222;
  border-bottom: 1px solid #eee; }
  .ps-prd-list--util .ps-btn {
    position: relative;
    height: 3.125rem;
    text-align: left;
    padding: 0 40px 0 20px; }
    .ps-prd-list--util .ps-btn::after {
      content: '';
      position: absolute;
      display: block;
      width: 1.125rem;
      height: 1.125rem;
      right: 1.1875rem;
      top: .9375rem;
      background: #fff url("../images/icon_filter.svg") no-repeat; }
    .ps-prd-list--util .ps-btn.ps-list-filter::after {
      background: #fff url("../images/icon_filter.svg") no-repeat; }
    .ps-prd-list--util .ps-btn.ps-list-sort {
      border-left: 1px solid #eee; }
      .ps-prd-list--util .ps-btn.ps-list-sort::after {
        background: #fff url("../images/icon_down.svg") no-repeat; }

.ps-prd-list--wrap {
  padding-bottom: 3.125rem; }

/* 상품 썸네일 */
.ps-prd-item {
  display: block;
  width: auto;
  margin-bottom: 1rem;
  user-select: none; }
  .ps-prd-item.rank-item {
    margin-bottom: 2rem; }
    .ps-prd-item.rank-item .desc {
      padding-top: .75rem; }
      .ps-prd-item.rank-item .desc .name {
        font-size: .875rem;
        font-weight: 400;
        margin-bottom: .4375rem; }
  .ps-prd-item .thumbs {
    position: relative; }
    .ps-prd-item .thumbs.ratio1 {
      padding-top: 100%; }
      .ps-prd-item .thumbs.ratio1 > img {
        position: absolute;
        left: 0;
        bottom: 0; }
    .ps-prd-item .thumbs > img {
      width: 100%;
      max-width: none;
      height: auto; }
    .ps-prd-item .thumbs .badge {
      position: absolute;
      left: 0;
      bottom: 0;
      overflow: hidden;
      width: 100%;
      height: 100%; }
      .ps-prd-item .thumbs .badge .sex {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        color: #fff;
        overflow: hidden;
        float: left; }
        .ps-prd-item .thumbs .badge .sex > span {
          display: block;
          float: left;
          width: 1.125rem;
          height: 1.125rem;
          line-height: 1.125rem;
          font-size: .6875rem;
          text-align: center;
          background-color: #222; }
          .ps-prd-item .thumbs .badge .sex > span.male {
            background-color: #222; }
          .ps-prd-item .thumbs .badge .sex > span.female {
            background-color: #D13B40; }
      .ps-prd-item .thumbs .badge .rank {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        overflow: hidden;
        float: left;
        background-color: #222;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: .75rem;
        font-weight: bold;
        text-align: center;
        background-color: #222; }
  .ps-prd-item .desc {
    padding-top: .8125rem; }
    .ps-prd-item .desc .cate {
      font-size: 12px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: .25rem; }
    .ps-prd-item .desc .name {
      font-size: .875rem;
      line-height: 1.25rem;
      margin-bottom: 1rem; }
    .ps-prd-item .desc .price .base-price {
      color: #BABABA;
      font-weight: 500;
      font-size: 14px;
      text-decoration: line-through;
      line-height: 1; }
    .ps-prd-item .desc .price .amount {
      font-size: 1rem;
      font-weight: bold;
      line-height: 1;
      margin-top: .375rem;
      margin-bottom: 1rem; }
      .ps-prd-item .desc .price .amount .per {
        display: inline-block;
        color: #E13310;
        vertical-align: top;
        margin-top: -0.1875rem; }
    .ps-prd-item .desc .badge > span {
      display: inline-block;
      font-size: 11px;
      line-height: 1;
      padding: .125rem .3125rem;
      border: 2px solid #222; }

/* 모바일 수평 스크롤 금지 */
html,
body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  overflow-x: hidden; }

#psWrap.ps-wrap {
  background: white; }
  #psWrap.ps-wrap.sub {
    padding-top: 3.5rem; }

.ps-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background-color: #fff;
  color: #222;
  z-index: 1000;
  transition: 0.3s; }
  .ps-header.down {
    transform: translateY(-3.5rem); }
  .ps-header.top {
    transform: translateY(0); }
  .ps-header--logo > a {
    display: block;
    width: 4.201875rem;
    height: 1.5rem;
    background: url("../images/logo.svg") no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    transition: 0.3s; }
  .ps-header--util {
    overflow: hidden;
    margin-right: -0.25rem; }
    .ps-header--util .ps-btn {
      width: 32px;
      height: 32px;
      background-color: gray;
      float: left;
      text-indent: -9999px;
      background: url("../images/icon_search.svg") center no-repeat; }
      .ps-header--util .ps-btn + .ps-btn {
        margin-left: .375rem; }
      .ps-header--util .ps-btn.ps-icon--search {
        background-image: url("../images/icon_search.svg"); }
      .ps-header--util .ps-btn.ps-icon--cart {
        background-image: url("../images/icon_cart.svg"); }
      .ps-header--util .ps-btn.ps-icon--menu {
        background-image: url("../images/icon_menu.svg"); }
      .ps-header--util .ps-btn.ps-icon--close {
        background-image: url("../images/icon_close.svg"); }

.ps-gnb-sub__wrap {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 3.5rem);
  z-index: 1002;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.3s;
  background-color: #fff;
  overflow: hidden; }
  .ps-gnb-sub__wrap.on {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); }

.ps-gnb-sub__header .ps-btn--back {
  padding-left: 40px;
  background: url("../images/icon_arrow_L.svg") left center no-repeat; }

.ps-gnb-sub__body {
  font-size: 1.25rem; }

.ps-gnb-sub__link {
  font-size: 1rem;
  background-color: #F7F7F7;
  padding: .75rem 0; }
  .ps-gnb-sub__link a {
    display: block;
    padding: .5rem 1.25rem; }

.ps-gnb-sub__footer {
  position: relative; }
  .ps-gnb-sub__footer::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.875rem;
    height: .5rem;
    background-color: #222; }
  .ps-gnb-sub__footer > h3 {
    font-size: 1rem; }
  .ps-gnb-sub__footer .item.swiper-slide {
    width: 9rem; }

.ps-gnb__wrap {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 3.5rem;
  left: 0;
  width: 100vw;
  height: calc(100vh - 3.5rem);
  z-index: 1001;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.3s;
  border-top: .1875rem solid #222;
  background-color: #fff;
  overflow: hidden; }
  .ps-gnb__wrap.on {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); }
  .ps-gnb__wrap .ps-btn--gnb {
    display: block;
    width: 100%;
    text-align: left;
    padding: .625rem 1.25rem; }
    .ps-gnb__wrap .ps-btn--gnb + .ps-btn--gnb {
      margin-top: .5rem; }

.ps-gnb__nav .gnb-main {
  font-size: 1.25rem; }
  .ps-gnb__nav .gnb-main > li + li {
    margin-top: .5rem; }

.ps-gnb__footer {
  position: relative; }
  .ps-gnb__footer::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.875rem;
    height: .5rem;
    background-color: #222; }
  .ps-gnb__footer .gnb-footer-menu {
    font-size: 1rem; }
    .ps-gnb__footer .gnb-footer-menu li a {
      display: inline-block;
      padding: 2px 0; }
    .ps-gnb__footer .gnb-footer-menu li + li {
      margin-top: 10px; }
  .ps-gnb__footer .gnb-footer-user {
    font-size: 1.125rem; }

.footer-quick-menu .quick-menu__wrap {
  flex-direction: row;
  background-color: #222;
  border-bottom: 1px solid #444; }

.footer-quick-menu .quick-menu__item {
  position: relative;
  flex: 1 1 0%; }
  .footer-quick-menu .quick-menu__item a {
    display: block;
    font-size: .875rem;
    color: #fff;
    text-align: center;
    padding: .8125rem 0 .9375rem; }
  .footer-quick-menu .quick-menu__item + .quick-menu__item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1.125rem;
    border-left: 1px solid #444;
    transform: translateY(-50%); }

.ps-footer {
  position: relative;
  background-color: #222;
  color: #fff;
  font-size: .75rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem; }
  .ps-footer .policy {
    text-decoration: underline; }
  .ps-footer__info {
    padding-top: 2.5rem;
    line-height: 1.25rem; }
  .ps-footer .social-media {
    position: absolute;
    top: 1.875rem;
    right: 1.25rem; }

.key-visual--wrap {
  position: relative;
  overflow: hidden; }
  .key-visual--wrap .item.swiper-slide {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh; }
    .key-visual--wrap .item.swiper-slide > .img {
      position: absolute;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      animation: key-visual-zoom 12s ease-in infinite alternate; }
      .key-visual--wrap .item.swiper-slide > .img .video {
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%; }
    .key-visual--wrap .item.swiper-slide .desc {
      position: absolute;
      left: 1.25rem;
      right: 1.25rem;
      bottom: 5.25rem; }
      .key-visual--wrap .item.swiper-slide .desc .title {
        color: #fff;
        font-size: 1.625rem;
        line-height: 2rem; }
  .key-visual--wrap .swiper-pagination-progressbar {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    width: calc(100vw - 40px);
    left: 1.25rem;
    right: 1.25rem;
    bottom: 2.5rem;
    height: .25rem; }
    .key-visual--wrap .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      background: #fff; }

.main--banner-promotion .promotion--item + .promotion--item {
  margin-top: 2.5rem; }

.main--banner-promotion .promotion--item > a {
  display: block;
  position: relative;
  z-index: 1;
  color: #fff; }
  .main--banner-promotion .promotion--item > a > .dim {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
    background: black;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
    z-index: 2; }
  .main--banner-promotion .promotion--item > a > .desc {
    position: absolute;
    bottom: 2.5rem;
    left: 1.25rem;
    right: 1.25rem;
    z-index: 3; }
    .main--banner-promotion .promotion--item > a > .desc .title {
      font-size: 1.625rem;
      line-height: 2rem; }
    .main--banner-promotion .promotion--item > a > .desc .subtitle {
      margin-top: .5rem;
      font-size: 1rem;
      line-height: 1.5rem; }

.swiper--single-prd {
  position: relative;
  overflow: hidden; }
  .swiper--single-prd .img > img {
    margin: 0 auto; }
  .swiper--single-prd .desc {
    position: absolute;
    top: 0;
    left: 1.25rem;
    right: 1.25rem;
    width: 100%;
    height: 100%;
    padding-top: 2rem; }
    .swiper--single-prd .desc .headcopy {
      font-size: 1.625rem;
      line-height: 1.875rem; }
    .swiper--single-prd .desc .title {
      position: absolute;
      left: 0;
      bottom: 2.3125rem; }
      .swiper--single-prd .desc .title .badge {
        margin-bottom: .25rem;
        font-size: .625rem; }
        .swiper--single-prd .desc .title .badge span {
          color: #fff;
          background-color: #D13B40;
          padding: .125rem .3125rem .1875rem; }
      .swiper--single-prd .desc .title .link {
        display: block;
        font-size: 1.125rem;
        color: #fff; }
        .swiper--single-prd .desc .title .link span {
          display: inline-block;
          background-color: #222;
          height: 2.25rem;
          line-height: 1.25;
          padding: .5rem .625rem;
          margin-top: .25rem; }
          .swiper--single-prd .desc .title .link span:last-child::after {
            content: '';
            display: inline-block;
            margin-left: .25rem;
            margin-bottom: 0.1rem;
            width: .45rem;
            height: .59rem;
            background: url("../images/icon_arrow_R_white.svg") center no-repeat;
            background-size: 100% auto; }
  .swiper--single-prd .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 1.25rem;
    top: 2.5rem;
    bottom: auto;
    left: auto;
    right: 1.25rem; }
  .swiper--single-prd .swiper-pagination-bullet {
    position: relative;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    line-height: 1.25rem;
    font-size: .625rem;
    border-radius: 0;
    opacity: 1;
    background-color: transparent;
    z-index: 1; }
    .swiper--single-prd .swiper-pagination-bullet .num {
      opacity: 0;
      color: #fff; }
    .swiper--single-prd .swiper-pagination-bullet::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1.25rem;
      height: 1.25rem;
      transform: scale(50%);
      background-color: #222;
      z-index: -1;
      transition: 0.3s; }
  .swiper--single-prd .swiper-pagination-bullet-active .num {
    opacity: 1;
    color: #fff; }
  .swiper--single-prd .swiper-pagination-bullet-active::after {
    transform: scale(100%);
    transition: 0.3s; }

.main-banner-related {
  overflow: hidden; }
  .main-banner-related .ui.ps-tab .menu {
    margin-bottom: .75rem; }
    .main-banner-related .ui.ps-tab .menu > a {
      display: inline-block;
      position: relative;
      height: 2.25rem;
      font-size: 1.125rem;
      color: #999999; }
      .main-banner-related .ui.ps-tab .menu > a:hover, .main-banner-related .ui.ps-tab .menu > a[aria-selected="true"] {
        color: #222; }
        .main-banner-related .ui.ps-tab .menu > a:hover::after, .main-banner-related .ui.ps-tab .menu > a[aria-selected="true"]::after {
          width: 100%;
          transition: width 0.3s; }
      .main-banner-related .ui.ps-tab .menu > a::after {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: .375rem;
        bottom: 0;
        background-color: #222; }
      .main-banner-related .ui.ps-tab .menu > a + a {
        margin-left: .875rem; }
      .main-banner-related .ui.ps-tab .menu > a:first-child, .main-banner-related .ui.ps-tab .menu > a:only-child {
        margin-left: 1.25rem; }
      .main-banner-related .ui.ps-tab .menu > a:last-child {
        margin-right: 1.25rem; }
  .main-banner-related .ui.ps-tab .cont {
    position: relative; }
    .main-banner-related .ui.ps-tab .cont .item.swiper-slide {
      width: 9rem; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(1) .ps-prd-item {
        transition-delay: 0ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(2) .ps-prd-item {
        transition-delay: 100ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(3) .ps-prd-item {
        transition-delay: 200ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(4) .ps-prd-item {
        transition-delay: 300ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(5) .ps-prd-item {
        transition-delay: 400ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(6) .ps-prd-item {
        transition-delay: 500ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(7) .ps-prd-item {
        transition-delay: 600ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(8) .ps-prd-item {
        transition-delay: 700ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(9) .ps-prd-item {
        transition-delay: 800ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(10) .ps-prd-item {
        transition-delay: 900ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(11) .ps-prd-item {
        transition-delay: 1000ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(12) .ps-prd-item {
        transition-delay: 1100ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(13) .ps-prd-item {
        transition-delay: 1200ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(14) .ps-prd-item {
        transition-delay: 1300ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(15) .ps-prd-item {
        transition-delay: 1400ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(16) .ps-prd-item {
        transition-delay: 1500ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(17) .ps-prd-item {
        transition-delay: 1600ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(18) .ps-prd-item {
        transition-delay: 1700ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(19) .ps-prd-item {
        transition-delay: 1800ms; }
      .main-banner-related .ui.ps-tab .cont .item.swiper-slide:nth-child(20) .ps-prd-item {
        transition-delay: 1900ms; }

.main--banner-issue .issue--item + .issue--item {
  margin-top: 3.75rem; }

.main--banner-issue .prd-list--item + .prd-list--item {
  margin-left: .625rem; }
  .main--banner-issue .prd-list--item + .prd-list--item a {
    display: block; }

.main--banner-issue .desc {
  margin-top: .4375rem; }
  .main--banner-issue .desc .title {
    position: relative;
    font-size: 1.625rem;
    line-height: 1.875rem;
    padding-bottom: 2rem; }
    .main--banner-issue .desc .title::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 2.5rem;
      height: 1rem;
      background-color: #222;
      z-index: 1; }
  .main--banner-issue .desc .subtitle {
    display: block;
    font-size: .875rem;
    line-height: 1.25rem;
    margin-top: 1.5rem; }

.main--banner-benefit a {
  min-height: 8.125rem;
  z-index: 1;
  padding-right: 6.875rem; }
  .main--banner-benefit a .sub-title {
    display: inline-block;
    height: 19px;
    color: #E13310;
    font-size: .75rem; }
  .main--banner-benefit a .title {
    display: block;
    font-size: 1rem;
    margin-top: .5625rem;
    line-height: 1.375rem; }
  .main--banner-benefit a.benefit-type1 {
    background: #EFECEC url("../images/main_banner_c_01.png") no-repeat;
    background-size: auto 8.125rem;
    background-position: right center; }
    .main--banner-benefit a.benefit-type1 img {
      position: absolute;
      top: 1.5rem;
      right: .4375rem; }
  .main--banner-benefit a.benefit-type2 {
    background: #FAF4E4 url("../images/main_banner_c_02.png") no-repeat;
    background-size: auto 8.125rem;
    background-position: right center; }
    .main--banner-benefit a.benefit-type2 .sub-title {
      color: #F45322; }
    .main--banner-benefit a.benefit-type2 .title {
      display: block; }
      .main--banner-benefit a.benefit-type2 .title .orange {
        color: #F45322; }
      .main--banner-benefit a.benefit-type2 .title small {
        display: block;
        margin-top: .25rem;
        font-size: .75rem;
        color: #999; }
    .main--banner-benefit a.benefit-type2 img {
      position: absolute;
      top: 1.1875rem;
      right: 0; }

.submain-header small {
  margin-bottom: 9px;
  font-size: 12px;
  line-height: 18px;
  color: #d13b40; }

.submain-header h3 {
  font-size: 1.625rem;
  line-height: 2.125rem; }

.sub-key-visual {
  margin-bottom: 3.125rem; }
  .sub-key-visual .swiper-container {
    position: relative; }
    .sub-key-visual .swiper-container .swiper-pagination-progressbar {
      background: rgba(255, 255, 255, 0.3);
      position: absolute;
      width: calc(100vw - 40px);
      left: 1.25rem;
      right: 1.25rem;
      bottom: 1.875rem;
      height: .25rem; }
      .sub-key-visual .swiper-container .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
        background: #fff; }
  .sub-key-visual .item a {
    position: relative;
    display: block; }
    .sub-key-visual .item a img {
      width: 100%; }
    .sub-key-visual .item a .desc {
      position: absolute;
      left: 20px;
      bottom: 74px;
      color: #fff; }
      .sub-key-visual .item a .desc small {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 18px; }
      .sub-key-visual .item a .desc span {
        font-size: 32px;
        line-height: 40px; }

[data-aos="ps-mask-in"] {
  position: relative;
  overflow: hidden;
  display: block; }
  [data-aos="ps-mask-in"]::after {
    content: "";
    position: absolute;
    z-index: 5;
    bottom: 50%;
    left: -3%;
    width: 106%;
    height: 180%;
    right: 0;
    background-color: #fafafa;
    transform: skewY(-25deg) translate3d(0, 50%, 0);
    backface-visibility: hidden; }
  [data-aos="ps-mask-in"].aos-animate[data-aos-delay="200"]::after {
    transition-delay: 200ms; }
  [data-aos="ps-mask-in"].aos-animate[data-aos-delay="400"]::after {
    transition-delay: 400ms; }
  [data-aos="ps-mask-in"].aos-animate[data-aos-delay="600"]::after {
    transition-delay: 600ms; }
  [data-aos="ps-mask-in"].aos-animate::after {
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
    transform: skewY(-20deg) translate3d(0, -50%, 0); }

[data-aos="ps-fade-in"].swiper-related .swiper-slide .ps-prd-item {
  opacity: 0;
  transform: translateX(120px); }

[data-aos="ps-fade-in"].aos-animate:not(.hidden).swiper-related .swiper-slide .ps-prd-item {
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s;
  opacity: 1 !important;
  transform: translateX(0) !important; }

[data-aos="ps-paint-in"] {
  display: block;
  position: relative;
  overflow: hidden; }
  [data-aos="ps-paint-in"] .img-wrap {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    [data-aos="ps-paint-in"] .img-wrap img {
      width: 100%;
      height: 100%; }
  [data-aos="ps-paint-in"].aos-animate .img-wrap {
    -webkit-mask: url("../images/urban-sprite.png");
    mask: url("../images/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    -webkit-animation: paint-play 1.4s steps(29) forwards;
    animation: paint-play 1.4s steps(29) forwards; }

[data-aos="ps-fade-in"] .ps-col .ps-prd-item {
  opacity: 0;
  transform: translateY(80px); }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(1) .ps-prd-item {
  transition-delay: 0ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(2) .ps-prd-item {
  transition-delay: 50ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(3) .ps-prd-item {
  transition-delay: 100ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(4) .ps-prd-item {
  transition-delay: 150ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(5) .ps-prd-item {
  transition-delay: 200ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(6) .ps-prd-item {
  transition-delay: 250ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(7) .ps-prd-item {
  transition-delay: 300ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(8) .ps-prd-item {
  transition-delay: 350ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(9) .ps-prd-item {
  transition-delay: 400ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(10) .ps-prd-item {
  transition-delay: 450ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(11) .ps-prd-item {
  transition-delay: 500ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(12) .ps-prd-item {
  transition-delay: 550ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(13) .ps-prd-item {
  transition-delay: 600ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(14) .ps-prd-item {
  transition-delay: 650ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(15) .ps-prd-item {
  transition-delay: 700ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(16) .ps-prd-item {
  transition-delay: 750ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col:nth-child(17) .ps-prd-item {
  transition-delay: 800ms; }

[data-aos="ps-fade-in"].aos-animate .ps-col .ps-prd-item {
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s;
  opacity: 1;
  transform: translateX(0); }

@-webkit-keyframes paint-play {
  from {
    -webkit-mask-position: 0% 0;
    mask-position: 0% 0; }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0; } }

@keyframes paint-play {
  from {
    -webkit-mask-position: 0% 0;
    mask-position: 0% 0; }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0; } }

@keyframes key-visual-zoom {
  0% {
    background-size: 100% auto; }
  100% {
    background-size: 110% auto; } }

.ps-quick-menu .item {
  text-align: center;
  background: url("../images/icon_quick_01.svg") center top no-repeat; }
  .ps-quick-menu .item > a {
    padding-top: 3.125rem;
    font-size: .75rem;
    display: block; }
  .ps-quick-menu .item.brand {
    background-position-y: .75rem; }
  .ps-quick-menu .item.store {
    background-image: url("../images/icon_quick_02.svg"); }
  .ps-quick-menu .item.giftcard {
    background-image: url("../images/icon_quick_03.svg"); }
